name: CI

on: [push, pull_request, workflow_dispatch]

env:
  docker_image_name: simplewhale
  use_telegram: 1

jobs:
  
  Build_Workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          
      - name: Run build script
        run: |
          mkdir build_files
          python3 scripts/build_artifacts.py

      - name: Download artifacts
        uses: actions/upload-artifact@v2
        with: 
          name: artifacts
          path: build_files
          if-no-files-found: error
          retention-days: 1

  Output_Workflow: 
    runs-on: ubuntu-latest
    needs: [Build_Workflow, Deploy_Workflow]
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          mkdir build_files/

      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: build_files/

      # - name: Get artifacts
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: docker-artifact
      #     path: build_files/

      - name: Prepare metrics
        if: ${{ success() }} 
        run: |
          mkdir temp
          python3 scripts/accuracy_test.py >> temp/file.html

      - name: Get failure message
        if: ${{ failure() }} 
        run: |
          mkdir temp
          python3 scripts/failure_message.py >> temp/file.html


      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Job completed ${{job.status}}
          to: alexgiving@mail.ru
          from: GitHub Push Bot
          secure: true
          html_body: file://temp/file.html
          ignore_cert: true
          convert_markdown: true
          attachments: build_files/*

  Telegram_Notify:
    #needs: Output_Workflow
    runs-on: ubuntu-latest
    steps:
      - if: ${{ env.use_telegram == 1 }}
        name: Message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: The job ${{job.status}}.
          
  Deploy_Workflow:
    runs-on: ubuntu-latest
    needs: Build_Workflow
    steps:
      - uses: actions/checkout@v3
      - run: mkdir build_files
      
      - name: Get model artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: build_files/

      # - name: Create docker image
      #   run: |
      #     docker build -t product_nn .
      #     mkdir -p docker_folder_path
      #     docker save product_nn > docker_folder_path/docker-image.tar
      #  
      # - name: Collect docker artifacts (optional)
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: docker-artifact
      #     path: docker_folder_path
      #     retention-days: 1
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        if: ${{ success() }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{env.docker_image_name}}:latest
