name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  get_artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          pip3 install sklearn
          pip3 install openpyxl
          pip3 install pandas
          
      - name: Run build script
        run: |
          mkdir build_files
          python3 main.py

      - name: Download artifacts
        uses: actions/upload-artifact@v2
        with: 
          name: artifacts
          path: build_files
          
      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Github Actions job result
          to: alexgiving@mail.ru
          from: alg push bot
          secure: true
          body: Build job of ${{github.repository}} completed successfully!
          ignore_cert: true
          convert_markdown: true
          attachments: build_files/*
          
  get_metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: echo print

      - name: Python Linter
        # You may pin to the exact commit or the version.
        # uses: sunnysid3up/python-linter@93076bd8f740f062069291d738fc70c1b4171c1d
        uses: sunnysid3up/python-linter@v0.1-beta.7
        with:
          # Source file or directory
          source: .
          # Set strictness for lint [low, medium, high]
          strict: low
