name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  Build_Workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          
      - name: Run build script
        run: |
          mkdir build_files
          python3 scripts/build_artifacts.py

      - name: Download artifacts
        uses: actions/upload-artifact@v2
        with: 
          name: artifacts
          path: build_files
          if-no-files-found: error
          retention-days: 1

  Output_Workflow: 
    runs-on: ubuntu-latest
    needs: Build_Workflow, Build_Workflow
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          mkdir build_files/

      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: build_files/

      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: docker-artifact
          path: build_files/

      - name: Prepare metrics
        run: |
          mkdir temp
          python3 scripts/accuracy_test.py >> temp/file.html

      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        if: ${{ success() }}
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Github Actions job result
          to: alexgiving@mail.ru
          from: GitHub Push Bot
          secure: true
          html_body: file://temp/file.html
          ignore_cert: true
          convert_markdown: true
          attachments: build_files/*

      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        if: ${{ failure() }}
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Github Actions job result
          to: alexgiving@mail.ru
          from: GitHub Push Bot
          secure: true
          body: The pipeline is red
          ignore_cert: true
          convert_markdown: true

          
  Deploy_Workflow:
    runs-on: ubuntu-latest
    needs: Build_Workflow
    steps:
      - uses: actions/checkout@v3
      - run: mkdir build_files
      
      - name: Get artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: build_files/
# docker build -t mytag1 .
# docker run mytag1       

      - name: Create docker image
        run: |
          docker build -t product_nn .
          mkdir -p docker_folder_path
          docker save product_nn > docker_folder_path/docker-image.tar

      - name: Collect artifacts 
        uses: actions/upload-artifact@v2
        with:
          name: docker-artifact
          path: docker_folder_path
          retention-days: 1
          
      

          
